<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projects.em"
    android:versionCode="47"
    android:versionName="2.0.2" android:installLocation="auto">
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
 	<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.projects.sync.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
 <uses-permission android:name="com.projects.sync.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
	<activity
            android:name="com.projects.em.GroupActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" 
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             <intent-filter>
			        <action android:name="android.intent.action.VIEW" />
			        <category android:name="android.intent.category.DEFAULT" />
			        <category android:name="android.intent.category.BROWSABLE" />
			        <!--  Normal Case-->
			        <data android:mimeType="*/*" android:host="*" android:pathPattern=".*\\.trn" android:scheme="file" />
			        <!-- 
			          From Yahoo  
			        <data android:mimeType="application/*" android:host="*" android:pathPattern=".*.trn" android:scheme="content" />
			        -->
			        <!--  From GMAIL -->
			        <data android:mimeType="application/octet-stream" android:host="*" android:pathPattern=".*\\.trn" android:scheme="content" />
			         <data android:mimeType="application/octet-stream" android:host="*" android:pathPattern=".*\\.trn" android:scheme="file" />

    			</intent-filter>
     </activity>
    	<activity
            android:name="com.projects.em.TripActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" 
            android:theme="@style/AppTheme" >

		      
        </activity>
               <activity
            android:name="com.projects.em.UpdateGroupActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_addtrip"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.projects.em.GroupActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projects.em.GroupActivity" />
        </activity> 
        <activity
            android:name="com.projects.em.UpdateTripActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_addtrip"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.projects.em.TripActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projects.em.HomeActivity" />
        </activity>
        <activity
            android:name="com.projects.em.CalcActivity"
            android:screenOrientation="portrait"
            android:label="Calculator"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.projects.em.TripActivity"
                              >
        </activity>
        <activity
            android:name="com.projects.em.ContactsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_contacts"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.projects.em.TripActivity"
                              >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projects.em.HomeActivity" />
        </activity>
       
        <activity
            android:name="com.projects.em.UpdateEventActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_event"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.projects.em.EventActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projects.em.EventActivity" />
        </activity>
		<activity
            android:name="com.projects.em.ViewEventActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_event"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.projects.em.EventActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projects.em.EventActivity" />
        </activity>
        <activity
            android:name="com.projects.em.HisaabActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_result"
            android:parentActivityName="com.projects.em.TripActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projects.em.HomeActivity" />
        </activity>
        
		<activity
            android:name="com.projects.em.MemberActivity"
        	android:screenOrientation="portrait"
            android:label="Member"
            android:parentActivityName="com.projects.em.ContactsActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projects.em.ContactsActivity" />
        </activity>

		<activity
            android:name="com.projects.em.SharesActivity"
        	android:screenOrientation="portrait"
            android:label="@string/title_activity_event"
            android:parentActivityName="com.projects.em.UpdateEventActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projects.em.AddEventActivity" />
        </activity>

        <activity
            android:name="com.projects.em.EventActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_event" 
            android:theme="@style/AppTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projects.em.HomeActivity" />
        </activity>
                    
        <provider
            android:name="com.projects.em.DB_CP"
            android:authorities="com.projects.em" />
        
                <activity
            android:name="com.projects.utils.SyncActivity"
            android:label="@string/app_name" 
            android:launchMode="singleTop"
            >
                </activity>
                
                
        <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
        
        <receiver
            android:name="com.projects.utils.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.google.android.gcm.demo.app" />
            </intent-filter>
        </receiver>
        <service android:name="com.projects.utils.GcmIntentService" />
        
    </application>
    
	
</manifest>
